<!DOCTYPE html>
<!--se utili esta reendirizacion para thymeleaf xxxx   <html xmlns:th="http://www.thymeleaf.org"> xxxx-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EmployeeXjob</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<!-- Barra de navegación -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Recursos Humanos</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/employee/listJobs}">Employee por job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/employee/listDepartament}">Employee por departament</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/employee/listDepartamentXmanager}">Employee por manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/employee/listEmployee}">Employee por history</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/employee/listEmployeeXcity}">Employee por city</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!---->
<div class="container" >
    <h5>Consulta de empleados por cargo </h5>
    <form method="POST">
        <div class="form-group row">
            <!--ESTE INPUT TOMA EL ID-->
            <!--    <input type="hidden" th:field="*{job_id}">    -->
            <div class="col-md-8">
                <label class="form-label">Cargo</label>
                <select class="form-select">
                    <option th:each="job_id:${cargos}"
                            th:value="${job_id.job_id}"
                            th:text="${job_id.job_id}+'-'+${job_id.job_title}" >
                    </option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success">Consultar</a>
        </div>
    </form>
</div>
<div class="container" >
    <form >
        <div>
            <h5>Lista de empleados por empleado </h5>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col">Departamento</th>
                <th scope="col">Fecha</th>
                <th scope="col">Cargo</th>
                <th scope="col">Salario</th>
                <th scope="col" >Editar</th>
                <th scope="col" >Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="em : ${employees}">
                <td style="display: none" scope="row" th:text="${em.employee_id}"></td>
                <td th:text="${em.first_name}+'--'+${em.last_name}"></td>
                <td th:text="${em.email}"></td>
                <td th:text="${em.phone_number}"></td>
                <td th:text="${em.department_id}"></td>
                <td th:text="${em.hire_date}"></td>
                <td th:text="${em.job_id}"></td>
                <td th:text="${em.salary}"></td>
                <td><a class="btn btn-warning btn-sm" th:text="'Editar'" title="Editar registro"
                       onclick="return confirm('Esta seguro de editar el registro?');"></a></td>
                <td><a class="btn btn-danger btn-sm" th:text="'Eliminar'" title="Eliminar registro"
                       onclick="return confirm('Esta seguro de eliminar el registro?');"></a></td>

            </tr>
            </tbody>
        </table>
    </form>

</div>

<!--Pie de pagina -->
<footer class="bg-dark text-white text-center fixed-bottom">
    <div class="container">
        <p>cealbemu7@gmail.com</p>
    </div>
</footer>
</body>
</html>