<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Jobs</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<section2 th:fragment="section2">
    <div class="container" >
        <h5>Consulta de empleados </h5>
        <form method="POST">
            <div class="form-group row">
                <div class="col-md-3">
                    <label for="codigo" class="form-label">Código de cargo</label>
                    <select id="codigo"  class="form-select">
                        <option>codigo
                        </option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="formGroupExampleInput" class="form-label">Nombre de cargo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="nombre" >
                </div>
            </div>
            <div class="card-footer">
                <input class="btn btn-success" type="submit" value="Consultar">
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>

</section2>

</body>
</html>